// Import all of your scss files here
@import "./bower_components/bulma/bulma.sass";

@import 'errors';

$headingsFont: 'Muli', sans-serif;
$textFont: 'Roboto', sans-serif;
$purple: black;
$blue: #313B72;
$gold: rgb(255, 162, 81);
$dullGold: rgba(255, 162, 81, 0.7);
$brightPink: rgb(188, 24, 108);
$pink: rgba(188, 24, 108, 0.7);
$red: crimson;



.profileBox {
  background-color: rgba(255,255,255,0.9);
  margin: 10px;
  overflow: hidden;
  border: 1px solid $gold;
  border-radius: 50px 0px;
  padding: 30px;

}
main {
  h1 {
    font-family: $headingsFont;
    letter-spacing: 1.1px;
    font-size: 30px;
  }
  p {
    font-family: $textFont;
    font-size: 18px;
    color: black;

  }
}

.drop-down {
  margin-top: 40px;
}

//button styling


#notify {
  left: -10px;
  color: black;
  font-weight: bolder;
  font-size: 0.7em;
}

.overlay {
  height: 25px;
  width: 15px;
  font-size: 13px;
  background-color: $brightPink;
}

nav {
  position: fixed !important;
  z-index: 5;
  width: 100vw;
  &.navbar {
    background-color: white;
    top: 0;
    a {
      font-family: $headingsFont;
      letter-spacing: 1.1px;
      font-size: 20px;

    }

    a.navbar-item {

    }

  }

}
.mobiletitle {
  margin: 50px;
}


.maintitle {
  text-align: center;
  margin-top: 18%;
  font-size: 50px;
}

.navbar-brand {
  font-size: 25px;
}

form {
  margin-top: 20%;
}

button {
  margin: 10px 0 10px 0;
}

input {
  &.topic_boxes {
    margin-right: 10px;
  }
}
h4 {
  text-align: center;
}

html {
  background-color: #F6F5FC;

  &.home {
    background-color: black;

    .spotDiv{
      margin:  0 auto;
      width: 790px;
      height: 100vh;
      position: relative;
      background: radial-gradient(
      rgba(255,255,255,0.8) 10%,
      rgba(0,0,0,.5) 60%,
      rgba(0,0,0,.95) 40%

      )
    }
    h1 {
      color: black;
      position: absolute;
      left: 50%;
      top: 25%;
      width: 100%;
      transform: translate(-50%, -50%);
      font-weight: bold;
      z-index: 10;
      font-size: 140px;
      font-family: $headingsFont;
      letter-spacing: 1.1px;
      text-shadow: 10px 10px 10px #000000;
    }
    h4 {
      color: black;
      position: absolute;
      left: 50%;
      top: 65%;
      width: 100%;
      transform: translate(-50%, -50%);
      z-index: 10;
    }
  }
}


//post index styling
div {
  &.postsIndexContent {
    background-color: rgba(255,255,255,0.9);
    margin: 10px;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 50px 0px;
    padding: 30px;
    p{
      font-size: 15px;
      &.created_by {
        color: $gold;
      }
    }
    a {
      color: $purple;
      font-weight: bold;
      font-size: 25px;
      &:hover {
        color: $gold;
      }
    }
    &:hover {
      border: 1px solid $brightPink;
    }
    &:nth-child(2n) {
      color: $purple;
      float: right;
      border-radius: 0px 50px;
      p {
        &.created_by {
          color: $brightPink;
        }
      }

      &:hover {
        border: 1px solid $gold;
      }
      a {
        color: $purple;
        font-weight: bold;
        &:hover {
          color: $brightPink;
        }
      }
    }
  }
}

.postsShowContent {
  border: 1px solid $gold;
}
.postsShowContentOther{
  border: 1px solid $brightPink;
}

.mh-mentions ol li.selected {
  background-color: #efefef;
}

.popUp {
  margin: auto;
  width: 400px;
  height: 300px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  .warningLabel{
    font-size: 30px;
    padding: 15px;
  }
  .button {
    margin: 30px;
  }
}


div {
  &.postsIndexContent {
    article {
      div {
        &.content {
          word-wrap: break-word;
          p {
            &.topics_label {
              margin-bottom: none;
              display: inline;
            }
          }
          ul {
            list-style: none;
            color: crimson;
            margin: 0;
            padding: 0;
            display: inline;
            li {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

#tags {
  display: inline-block;
  padding-right: 4px;
}



div {
  &.content {
    animation-delay:1.5s;
    -moz-animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
  }
  h3 {
    display: inline;
  }
  p {
    &.created_by {
      display: inline;
    }
    span {
      &.created_by_label {
        font-weight: bold;
      }
    }


  }
}

h3 {
  &.postsTitle {
    font-family: $headingsFont;
    letter-spacing: 1.1px;
    font-size: 30px;
  }
  a {
    color: $gold;
    &:hover {
      color: $purple;
    }
  }


}

div {
  &.filter {
    margin-top: 30px;
    select {
      &.select {
        width: 300px;
        font-size: 15px;
      }

    }
  }

}

//post show page

div {
  &.showPost {
    margin-top: 30px;
    div {
      &.titleInfo {
        a {
          &.articleLink {
            display: block;
          }

        }
        img {
          // width: auto;
          // max-height: 300px;
          width: auto; height: 300px;
   background: #666;

   border-top-left-radius: 15em 1em;
   border-bottom-right-radius: 15em 1em;
        }
      }
    }

    p {
      &.topics {
        margin-left: 10px;
        color: $red;
      }
    }
    ul {
      li {
        display: inline;
        p {
          display: inline;
        }
      }
    }
    h1 {
      color: $gold;
      font-size: 45px;
    }
    a {
      color: $purple;
      font-size: 25px;
      &:hover {
        color: lighten($purple, 40%);
      }
    }

    div {
      &.commentBox {
        background-color: $brightPink;
        margin-bottom: 8px;
        border-radius: 8px;
        h3 {
          color: $purple;
          font-size: 16px;
          font-weight: bold;
        }
        p {
          &.commentContent {
            span {
              &.username {
                color: dodgerblue;
              }
            }
          }

        }

      }
    }
  }
}
.username {
  color: dodgerblue;
}
.topicDiv{
  width: 400px;
  height: 200px;
  top: 200px;

}

.topicLabel {
  background-color: darkgrey;
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 8px;
}


.topicInput {
  display: none;
  &:checked ~ label {
    background-color: black;
    color: white;
  }
}

.beans {
  margin-top: 65px;
  margin-bottom: -14%;
}
.showTitle {
  text-align: center;
}



@media only screen and(max-width: 575px) {
    body{
      &.home {
        .spotDiv{
          background-color: black;
          width: 400px;
          height: 400px;
          background: black;
        }
        h1 {
          font-size: 60px;
          margin-top: 200px;
          color: white;
          z-index: 0;
        }
        h4 {
          color: white;
          margin-top: 120px;

        }
    }
  }
}

//users show page

div {
  &.usersPostContent {
    p {
      a {
        &.usersPosts {
          color: black;
          &:hover {
            color: $brightPink;
          }
        }
      }
    }
  }
}

.navbar-brand {
  height: 3.25rem;
}
