<!DOCTYPE html>
<div class="column is-half is-offset-one-quarter">

  <h1>Post Edit</h1>
  <form name="postsEdit.editForm" ng-submit="postsEdit.update()" novalidate>
    <div class="field">
      <label for="title">Title</label>
      <input class="input" type="text" name="title" id="title" ng-model="postsEdit.post.title" required>
      <div class="ng-message-error" ng-messages="postsEdit.editForm.title.$error" ng-show="(postsEdit.editForm.$submitted || postsEdit.editForm.title.$touched)">
        <p ng-message="required">Please enter a title</p>
    </div>
    <div class="field">
      <label for="body">Post Content</label>
      <textarea class="textarea" type="text" name="body" id="body" ng-model="postsEdit.post.body" required></textarea>

        <div class="ng-message-error" ng-messages="postsEdit.editForm.body.$error" ng-show="(postsEdit.editForm.$submitted || postsEdit.editForm.body.$touched)">
          <p ng-message="required">Please enter some content to your post!</p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="base64">Image (Optional)</label>
      <input class="input" type="file" base64 name="base64" id="base64" ng-model="postsEdit.post.base64">
    </div>
    <div class="field">
      <img ng-src="{{postsEdit.post.base64}}">
    </div>
    <div class="field">
      <label for="topics">Topics</label>
      <br>
      <label ng-repeat="topic in postsEdit.topics">
        <input class="topic_boxes" type="checkbox" name="topics" checklist-model="postsEdit.post.topic_ids" checklist-value="topic.id"> {{ topic.name }}
      </label>
    </div>

    <button class="button is-dark is-fullwidth btn-primary">Update</button>
  </form>
</div>
