<!DOCTYPE html>
<div class="titleInfo">
  <h1>{{ postsShow.post.title }}</h1>
  <a ng-href="{{ postsShow.post.link_url }}" target="_blank">Article Link</a>
</div>
<div class="columns is-multiline">
  <div class="column is-half">
    <p>{{ postsShow.post.body }}</p>
  </div>
  <div class="column-is-half">
    <img ng-src="{{ postsShow.post.image_src }}" alt="">
    <ul ng-repeat="topic in postsShow.post.topics">
      <li>{{ topic.name }}</li>
    </ul>
        <button ui-sref="eventsEdit({id: eventsShow.event.id})" ng-if="main.isAuthenticated() && postsShow.currentUser.id === comment.user.id">Edit</button>
  </div>
</div>
<div ng-repeat="comment in postsShow.post.comments" class="column is-half">
  <h3>{{ comment.user.username }}</h3>
  <p> {{ comment.body }}</p>
  <button ng-if="main.isAuthenticated() && postsShow.currentUser.id === comment.user.id" ng-click="postsShow.deleteComment(comment)">Delete</button>
</div>


<!-- <h1>Join the discussion!</h1>
<form ng-submit="postsShow.addComment()">
  <textarea ui-mention mention type="text" name="body" ng-model="postsShow.comment.body"></textarea>
  <button name="submit">Comment</button>
</form> -->



  <h1>UI Mention</h1>

<!-- <div class="mention-container">
    <textarea ui-mention mention
      ng-model="postsShow.comment.body"
      placeholder="Use @mention to trigger"
      ng-trim="false"
      choices="postsShow.users"
      ></textarea>
    <div></div>

    mention.mentions: {{ $mention.mentions }}

    <ul ng-if="$mention.choices.length" class="dropdown">
      <li ng-repeat="choice in $mention.choices" ng-class="{active:$mention.activeChoice==choice}">
        <a ng-click="$mention.select(choice)">
          {{::choice.username}}
        </a>
      </li>
    </ul>
  </div> -->

  <div class="dg-mention">
    <div class="name_tag_list">
      <ul>
        <li></li>
      </ul>
    </div>
      <textarea name="name" rows="8" cols="80">
      </textarea>



  </div>
