<!DOCTYPE html>
<div class="titleInfo">
  <h1>{{ postsShow.post.title }}</h1>
  <a ng-href="{{ postsShow.post.link_url }}" target="_blank">Article Link</a>
</div>
<div class="columns is-multiline">
  <div class="column is-half">
    <p>{{ postsShow.post.body }}</p>
  </div>
  <div class="column-is-half">
    <img ng-src="{{ postsShow.post.image_src }}" alt="">
    <ul ng-repeat="topic in postsShow.post.topics">
      <li>{{ topic.name }}</li>
    </ul>
        <button ui-sref="eventsEdit({id: eventsShow.event.id})" ng-if="main.isAuthenticated() && postsShow.currentUser.id === comment.user.id">Edit</button>
  </div>
</div>
<div ng-repeat="comment in postsShow.post.comments" class="column is-half">
  <h3>{{ comment.user.username }}</h3>
  <p> {{ comment.body }}</p>
  <button ng-if="main.isAuthenticated() && postsShow.currentUser.id === comment.user.id" ng-click="postsShow.deleteComment(comment)">Delete</button>
</div>
<div>
  <mh-mentions ng-model="main.body" users="main.users" mentions="main.mentions"></mh-mentions>
  This post mentions:
<pre>
  {{ main.mentions }}
</pre>

Post mention_ids:
<pre>
  {{ main.mention_ids }}
</pre>
</div>
